<div class="py-3 px-3">
    <div class="row mx-3">
        <div class="col-6 border">
            <h4 class="mt-3 title">src/public/js/data.csv</h4>
            <hr>
            <h5 class="paragraph mt-3 text-justify">
                Como ya había mencionado con anticipación, el archivo CSV tiene dos columnas de datos. Los dos primeros registros 
                son las etiquetas generadas en este caso por un equipo real de medición un Electrocardíografo y las muestras provienen
                de la derivación estándar o la que comúnmente se utiliza para calibración del equipo.  
            </h5>
            <h5 class="paragraph mt-3 text-justify">
                El archivo posee 2500 muestras para un periodo de observación de 10 segundos, es decir que cada muestra fue tomada 
                a una velocidad de 4ms (milisegundos). Estas muestras fueron tomadas a pacientes que presentan algun tipo de anomalía cardiaca, por lo que en algún momento se podrán ver en las gráficas formas extrañas en entre los complejos QRS.  
            </h5>
            <h5 class="paragraph mt-3 text-justify">
                Un reto para este proyecto puede ser que a partir de estas muestras, se determine el rate de pulsos por minutos; es decir la frecuencia cardiaca, sin embargo, lo dejaré para que lo examines y si te interesa y no sabes por donde iniciar, puedes escribirme en los comentarios y te estaré apoyando con las consultas.
            </h5>
            <hr>
            <h5 class="paragraph mt-3 text-justify">
                De momento me despido y te agradezco por el tiempo que le has dedicado a este video. Te recuerdo que en la descripción del video tienes disponible el enlace al repositorio en la plataforma de github. 
            </h5>
            <h5 class="paragraph mt-3 text-justify">
                ¡Muchas gracias y nos vemos en un nuevo tutorial!
            </h5>
            
        </div>
        <div class="col-1"></div>
        <div class="col-5 border">
            <img src="/img/img9.png" alt="" class="img-fluid my-3" style="height: 750px;">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-10"></div>
        <div class="col-1">
            <a href="/tutorial/guide8" class="btn btn-primary"><i class="fas fa-backward"></i></a>
        </div>
        <div class="col-1">
             <a href="/index" class="btn btn-primary"><i class="fas fa-home"></i></a>
        </div>
    </div>
</div>