<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graficar ECG</title>
    
    {{!-- CDN BOOSTRAP 4.5 --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {{!-- CND CHART JS --}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    {{!-- CDN GOOGLE FONTS --}}
    <link href="https://fonts.googleapis.com/css?family=Caveat|Kalam|Lato&display=swap" rel="stylesheet"> 
    
    {{!-- CDN FONT AWESOME --}}
    <script src="https://kit.fontawesome.com/bf5e9dd093.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/main.css">

</head>
<body>

    {{> header }}
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {{{ body }}}

</body>
</html>