<div class="mt-5">
<div class="row mt-2">
    <div class="col-8 offset-2">
        <div class="card">
            <div class="card-header">
                Graficar ECG desde CSV
            </div>
            <div class="card-body">
                <canvas id="ecg" width="500" height="500"></canvas>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-2">
                        <button id='renderBtn' class="btn btn-primary">Graficar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>


<script src="js/chart.js"></script>
