<div class="mt-5 px-3">
    <div class="border py-3 px-3 shadow">
        <h3 class="bg-dark text-center title py-3 px-3 text-primary">
           GRAFICAR ECG DESDE ARCHIVO CSV CON NODEJS Y CHARTJS
        </h3>
        <div class="row">
            <div class="col-10 offset-md-2">
                <img src="/img/img1.png" alt="" class="img-fluid">
            </div>
        </div>
        
        
    </div>
</div>